@media (prefers-color-scheme: dark) {
    //SASS
    $bg-primary: #272727;
    $bg-secondary: #2e2e2e;

    $backdrop-bg-color: #000000ad;

    $color-primary: #cdcdcd;
    $color-primary--hover: lighten($color-primary, 10%);
    $color-primary--active: lighten($color-primary, 20%);
    $color-secondary: #757575;

    $button-bg--hover: rgb(58, 58, 58);

    $border-color: #404040;

    $selection-bg: #c6c6c6;
    $selection-color: black;

    $scrollbar-track-bg-color: transparent;
    $scrollbar-thumb-bg-color: #757575;
    $scrollbar-thumb-bg-color--hover: #9d9d9d;
    $scrollbar-thumb-bg-color--active: #9d9d9d;

    //CSS
    :root {
        --bg-primary: #{$bg-primary};
        --bg-secondary: #{$bg-secondary};

        --color-primary: #{$color-primary};
        --color-primary--hover: #{$color-primary--hover};
        --color-primary--active: #{$color-primary--active};
        --color-secondary: #{$color-secondary};

        --border-color: #{$border-color};

        --button-bg--hover: #{$button-bg--hover};


        --scrollbar-track-bg-color:#{$scrollbar-track-bg-color};

        --scrollbar-thumb-bg-color:#{$scrollbar-thumb-bg-color};
        --scrollbar-thumb-bg-color--hover:#{$scrollbar-thumb-bg-color--hover};
        --scrollbar-thumb-bg-color--active:#{$scrollbar-thumb-bg-color--active};

        //Pixel variables
        --svg-dasharray: 0px;
        --svg-dashoffset: 0px;
    }

    ::backdrop {
        --backdrop-bg-color: #{$backdrop-bg-color};

        --scrollbar-track-bg-color:#{$scrollbar-track-bg-color};

        --scrollbar-thumb-bg-color:#{$scrollbar-thumb-bg-color};
        --scrollbar-thumb-bg-color--hover:#{$scrollbar-thumb-bg-color--hover};
        --scrollbar-thumb-bg-color--active:#{$scrollbar-thumb-bg-color--active};
    }
}