@use "../utils/" as *;

.header {
    z-index: 420;

    box-shadow: 0 0 20px 0 var(--header-bg-color);

    position: sticky;
    top: 0;

    padding: 20px;
    background-color: var(--header-bg-color);

    margin-bottom: 25px;

    border-radius: 0 0 10px 10px;

    &__nav {
        width: 100%;
    }

    &__list {
        width: inherit;

        @include center-flex(10px);

        @include mobile-only {
            @include center-flex-column(10px);
        }

    }

    &__item {
        border-radius: 5px;

        background-color: var(--header-button-bg);

        &.active {
            &::after {
                content: "";

                position: absolute;
                bottom: 0;
                left: 50%;

                translate: -50% 0%;

                background-color: var(--bg-tertiary);

                border-radius: 100vmax;

                width: 100%;
                height: 3px;
            }
        }

        @include mobile-only {
            display: inline-flex;
            width: 100%;
        }

        position: relative;

        &:nth-child(1) {
            &::before {
                content: "⌛";
            }
        }

        &:nth-child(2) {
            &::before {
                content: "⏱️";
            }
        }

        &:nth-child(3) {
            &::before {
                content: "🔔";
            }
        }

        &:nth-child(n) {
            &::before {

                width: 20px;
                line-height: 20px;

                position: absolute;

                top: 25%;
                left: 10%;

                @include mobile-only {
                    bottom: 25%;
                    left: 2%;
                }
            }
        }
    }

    &__link {
        margin-left: 20px;

        display: inline-block;
        padding: 10px 15px;

        @include mobile-only {
            width: 100%;
        }
    }
}